/*pages dropdown*/
.pages,
.authentication {
  display: flex;
  flex-direction: row;
  color: white;
}
.pages-icon-down {
  margin-left: 800%;
  margin-top: 50%;
  font-size: 18px;
}

.pages-icon-right {
  margin-left: 800%;
  margin-top: 50%;
  font-size: 18px;
}

/* login page */
.form-main {
  background-color: #181818;
  width: 32%;
  height: 40vh;
  margin: auto;
  text-align: center;
  margin-top: 25vh;
  padding-top: 10px;
}

.enter-email,
.enter-password,
.enter-firstname,
.enter-lastname,
.confirm-password {
  background-color: black;
  width: 80%;
  height: 35px;
  border: none;
  margin: auto;
  color: white;
}

.enter-email::placeholder,
.enter-password::placeholder,
.enter-firstname::placeholder,
.enter-lastname::placeholder,
.confirm-password::placeholder {
  color: gray;
}

.login-submit-remember {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 30px auto;
}

/*contact page css*/

.contact-container {
  margin: 5%;
  max-width: 90%;
  background-color: #181818;
  padding: 50px;
  text-align: center;
}
.about {
  display: flex;
  justify-content: center;
}
.title {
  font-size: 24px;
  margin-left: 80px;
}

.about > form {
  height: fit-content;
}
.url {
  margin-bottom: 5px;
}
.input {
  margin-bottom: 5px;
}
.select {
  margin-bottom: 5px;
}
.text-area textarea {
  margin-bottom: 10px;
  height: 500px;
  width: 300px;
}
.about-submit {
  margin-bottom: 10px;
}
.about-submit:hover {
  color: white;
  cursor: pointer;
}
/*1about page*/
/* .about {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 0 auto 20px 45%;
} */

.text {
  margin-left: 3%;
  margin-right: 3%;
}
.page-container {
  background-color: #181818;
  margin: 5%;
  /* width: 100%; */
  max-width: 90%;
  /* overflow-x: auto !important; */
  max-height: 50%;
}
.page-title {
  margin-left: 45%;
  margin-top: 4%;
  padding-top: 2%;
}
.contactinfo-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}
.contactinfo-item {
  display: flex;
}
.contactinfo-item h4 {
  color: #e20e02;
}
.all-contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactinfo-form {
  margin-left: 5%;
}
.contactinfo-form input {
  background-color: #000000;
  border: none;
  color: white;
  border-radius: 3px;
  height: 40px;
  width: 90%;
  padding-left: 10px;
}
.contact-form-container {
  background-color: #141414;
  height: 500px;
  width: 75%;
  padding: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
}
.contactinfo-row {
  display: flex;
}
.row-item {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}
.contactinfo-submit-btn {
  border: none;
  border-radius: 3px;
  color: white;
  width: 150px;
  font-size: 20px;
  margin-top: 3%;
  padding: 10px;
}
.row-item-button {
  text-align: center;
}
